.footerInfo {
  display: inherit;
  flex-direction: column;
  white-space: pre-wrap;
  width: 23%;
  .title {
    font-family: 'HKGrotesk-SemiBold';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8FC5AE;
    margin-bottom: 16px;
  }

  .link {
    font-family: 'HKGrotesk-Regular';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    margin-bottom: 8px;
  }

  &:first-of-type {
    margin-right: 30%;
  }
  @media(max-width: 570px){
    flex-direction: column;
    width: auto;
  }
}
