.footer {
  display: flex;
  background: #3F3E46;
  padding: 56px 10%;

  .footerMain {
    display: inherit;
    position: relative;
    margin-left: 27.4%;
    width: 100%;
    @media(max-width: 525px) {
      flex-direction: column;
    }

    .whatsApp {
      position: absolute;
      left: 53%;
      top: 78.2%;
      @media(max-width: 1011px) {
        display: none;
      }
    }
  }

  .icons {
    display: inherit;
    flex-direction: column;

    img {
      margin-bottom: 16px;
    }
  }

}